.panel {
	display: flex;
	flex-direction: column;
}

.section {
    background-color: var(--color-Grey-Scale-900);
	padding: 16px;
    border: 1px solid #E9EEF2;
}

.section + .section {
	margin-top: -1px;
}

