.priceBar {
    display: flex;
    padding: 16px;
    border-radius: var(--border-radius);
    justify-content: space-between;
    background-color: var(--color-Grey-Scale-900);
    margin: 16px 0 16px 0;
}

.price {
    font-size: 2rem;
    font-family: var(--font-charon);
}